/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.chat_view_container{
	-fx-background-color: #eeeeee;
}

.chat_view_container VBox{
	-fx-pref-width: 530;
	-fx-pref-height: 607;
	-fx-padding: 14 7 14 0;
}