/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.scroll-pane{	
	-fx-background-color: linear-gradient(to top right,#5e69bd, #543eb5 );
}

.message_bar_container .vbox{
	-fx-background-color: linear-gradient(to top right, #5e69ac, #7981ba);
		-fx-background-radius: 5;
		-fx-spacing: 5;
		-fx-text-fill: #ffffff;
		-fx-font-family: "Tahoma";
}

.image-view{
	-fx-max-width: 35;
	-fx-max-height: 35;
}

.message_bar_container HBox{
	-fx-min-width: 290;
	-fx-min-height: 75;
	-fx-padding: 0 10 0 10;
	-fx-background-radius: 10 10 10 10;
	-fx-border-radius: 10 10 10 10;
}
.message_bar_container HBox:hover{
	-fx-cursor: hand;
	-fx-background-color:#a3a8b5;
	-fx-background-radius: 10 10 10 10;
	-fx-border-radius: 10 10 10 10;
	-fx-effect: dropshadow(three-pass-box, #ffffff, 6.0,0.0,0.0,2.0); 
	-fx-border-width: 0.8;
}

.message_bar_container .scroll-pane:focued{
	-fx-background-color: transparent;
}


.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #6e7696; 
}
.scroll-pane .scroll-bar .track {
    -fx-background-color: #ffffff; 
}

.label {
    -fx-font-family: "Arial";
    -fx-text-fill: #ffffff; 
    -fx-font-size: 18;
}

.text{
	-fx-font-family: "Arial";
    -fx-text-fill: #404040; 
    -fx-font-size: 15;
}


.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 10px;
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent; 
    -fx-padding: 0;
    -fx-min-height: 0;
    -fx-max-height: 0; 
    -fx-pref-height: 0;
}

